.createbutton{
    background-color: #304f5a; /* change to your desired color */
    color: rgb(202, 13, 13); /* change to your desired color */
}

.createbutton:hover {
    background-color: #008CBA; /* change to your desired color */
    color: white; /* change to your desired color */
}